@import "tailwindcss";

body {
  font-family: var(--font-poppins), sans-serif;
}

.font-bebas {
  font-family: var(--font-bebas), sans-serif;
}
.font-allura {
  font-family: var(--font-allura), cursive;
}